$azulHover: #06e;
$amarilloMedula: #fac116;
$amarilloMedulaFondo: #fcc212;
$cyanMedula: #45bcd2;
$grisClaro0: #f0f0f0;
$grisClaro1: #e6e6e6;
$font-serif: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida,
    'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
$font-sans: 'Museo Sans', Frutiger, 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans',
    'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed',
    'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva;
$logo-width: 104px;
