@import 'vars';
@import 'normalize';
@import 'font-definitions';

/**
* Foolish the one who copies this without undestanding the trap they are setting for themselves
* These styles are literally intended for this one page, for anthing else, use BEM
* use the BEM Luke!
*/
body {
    font-size: 1em;
    line-height: 2em;
    font-weight: 300;
    font-family: $font-sans;
}

i {
    font-family: $font-sans;
    font-style: italic;
}

h1,
h2,
h3 {
    font-family: 'Museo Sans', $font-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    color: #565656;
    line-height: 1em;
}
h1 {
    font-style: italic;
}
h2 {
    font-size: 1.725em;
}
h3 {
    font-size: 1.5em;
}

kbd {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 3px 0 rgba(0, 0, 0, 1);
    color: #ddd;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 -1px 0 #000;
}
samp {
    background-color: $grisClaro1;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 3px 0 1px rgba(0, 0, 0, 0.3);
    color: #333;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 -1px 0 #fff;
}

figure {
    pre {
        word-break: normal;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        overflow: auto;
        overflow-y: hidden;
        white-space: pre;
    }
}

a {
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    &:link,
    &:visited {
        border-bottom-color: #ddd;
    }
    &:visited {
        color: #0088ff;
    }
    &:hover,
    &:active,
    &:focus {
        border-bottom-color: $azulHover;
    }
    &.boton {
        &:link,
        &:visited {
            border-bottom-color: #666;
        }
        &:hover,
        &:active,
        &:focus {
            border-bottom-color: $azulHover;
        }
    }
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.the-year {
    margin-top: -1.5em;
}

.corporis {
    border-top: 1px solid $cyanMedula;
    padding: 0 1em;
}

.logo {
    width: $logo-width;
    position: static;
    float: left;
    margin-right: 1em;
}

img {
    max-width: 100%;
}

nav {
    li {
        float: right;
    }

    a {
        display: inline-block;
        background: $cyanMedula;
        padding: 0.5em 1em;
        font-weight: bold;
        transition: background-color 0.75s ease-out;
        &:link,
        &:visited {
            color: #fff;
            text-decoration: none;
            background-color: $cyanMedula;
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            background-color: #6ee7fe;
        }
    }
}

nav,
main,
footer {
    max-width: 660px;
    margin: 0 auto;
}

// I have already regretted 2 times nesting here
main {
    header {
        h1 {
            color: $cyanMedula;
        }
        border-bottom: 1px solid #b3b3b3;
        h2,
        h3 {
            color: $cyanMedula;
            font-size: 20px;
            margin: 0;
        }
        h3 {
            font-style: italic;
        }
    }

    figure {
        font-family: $font-serif;
        background: #fff;
        padding: 1em;
        border: 1px solid #ccc;
        margin: 0 -1em 1em -1em;

        .boxshadow & {
            border: none;
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
        }

        img {
            border: 1px dotted #ddd;
        }
    }

    footer {
        background: none;
        border: 1px solid transparent;
        padding: 0;
    }
}

.footer {
    border-bottom: 40px solid $grisClaro0;
    padding: 0 1em;
}

@media (min-width: 923px) {
    .logo {
        position: fixed;
        top: 10px;
        left: 10px;
    }
}

@media print {
    @import 'print';
}
