<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{- $title := ( .Title ) -}}
    {{- $siteTitle := ( .Site.Title ) -}}
    {{- if .IsHome -}}
    <title>
        {{ $siteTitle }} {{- if isset .Site.Params "subtitle" -}} -
        {{ .Site.Params.Subtitle }}{{- end -}}
    </title>
    {{- else -}}
    <title>{{ $title }} - {{ $siteTitle }}</title>
    {{- end -}}

    {{ partial "favicon_links.html" . }}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}

    {{ $styles := resources.Get "scss/styles.scss" | toCSS | minify | fingerprint }}
    <!-- prettier-ignore -->
    <link rel="stylesheet" type="text/css" media="all" href="{{ $styles.Permalink }}" integrity="$styles.Data.Integrity" />

    {{- if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    {{- else if (isset .Site.Params "social") -}}
    <script src="js/feather.min.js"></script>
    {{- end -}}
    <script src="js/main.js"></script>
</head>
