<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
        <title>Agustín Amenabar L. : Blog personal</title>
    </head>
    <body>
        <div class="site corporis">
        <nav><ul>
            <li><a href="{{ site.url }}/">CV – Résumé</a></li>
        </ul> </nav>
        <article>
        <header>
            <h1>Blog – Artículos recientes</h1>
        </header>
          {{ content }}
        </article>
        </div>
    <script type="text/javascript" src="http://use.typekit.com/zod4yoy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>
